<div class="main-header">
  <div class="page__row-layout">
    <div class="main-header__tabs">

      <div class="main-header__dropdown">
        Самарский университет

        <div class="main-header__dropdown-content">
          <div routerLink="dampers" class="main-header__dropdown-content-item">Виброизоляторы</div>
          <div class="main-header__dropdown-content-item">Испытательное оборудование</div>
        </div>
      </div>

      <div class="main-header__dropdown">
        АО РКЦ Прогресс

        <div class="main-header__dropdown-content">
          <div class="main-header__dropdown-content-item">НИОКР</div>
          <div class="main-header__dropdown-content-item">Испытательное оборудование</div>
        </div>
      </div>

      <div routerLink="calendar" class="main-header__dropdown">
        Календарь
      </div>

    </div>
  </div>
</div>
